Examples
========

Simple usage
------------

You can try it by running in your project directory:

    mvn ${project.groupId}:pgpverify-maven-plugin:check

If you want check your dependency on each build, please add to your project:

    <project>
      ...
      <build>
        <!-- To define the plugin version in your parent POM -->
        <pluginManagement>
          <plugins>
            <plugin>
              <groupId>${project.groupId}</groupId>
              <artifactId>pgpverify-maven-plugin</artifactId>
              <version>${project.version}</version>
            </plugin>
            ...
          </plugins>
        </pluginManagement>

        <!-- To use the plugin goals in your POM or parent POM -->
        <plugins>
          <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>pgpverify-maven-plugin</artifactId>
            <executions>
                <execution>
                    <goals>
                        <goal>check</goal>
                    </goals>
                </execution>
             </executions>
          </plugin>
          ...
        </plugins>
      </build>
      ...
    </project>

keysMap usage
-------------

keysMap with pgp fingerprint from project

        <pluginManagement>
          <plugins>
            <plugin>
              <groupId>${project.groupId}</groupId>
              <artifactId>pgpverify-maven-plugin</artifactId>
              <version>${project.version}</version>
              <configuration>
                  <keysMapLocation>\${project.basedir}/pgp-keys-map.list</keysMapLocation>
              </configuration>                        
            </plugin>
            ...
          </plugins>
        </pluginManagement>
    

keysMap with pgp fingerprint from external artifact

        <pluginManagement>
          <plugins>
            <plugin>
              <groupId>${project.groupId}</groupId>
              <artifactId>pgpverify-maven-plugin</artifactId>
              <version>${project.version}</version>
              <configuration>
                  <keysMapLocation>/pgp-keys-map.list</keysMapLocation>                
                  <verifyPlugins>true</<verifyPlugins>
                  <verifyPluginDependencies>true</verifyPluginDependencies>
              </configuration>
              <dependencies>
                  <dependency>
                      <groupId>my.groupId</groupId>
                      <artifactId>artifact-with-map</artifactId>
                      <version>x.y.z</version>
                  </dependency>
              </dependencies>                        
            </plugin>
            ...
          </plugins>
        </pluginManagement>


keysMap with pgp fingerprint from external resource

        <pluginManagement>
          <plugins>
            <plugin>
              <groupId>${project.groupId}</groupId>
              <artifactId>pgpverify-maven-plugin</artifactId>
              <version>${project.version}</version>
              <configuration>
                  <keysMapLocation>https://www.example.com/pgp-keys-map.list</keysMapLocation>
              </configuration>                        
            </plugin>
            ...
          </plugins>
        </pluginManagement>
    
IT tests
--------

Many example of usage can be found in project IT tests:

https://github.com/s4u/pgpverify-maven-plugin/tree/master/src/it


