Verify PGP signatures plugin
============================

This plugin allow you to automatically verify PGP signature of all project dependency.

Features
--------
 - check signature of artifacts during each builds,
   not only during artifact download from remote repository to local
 - possibility to map pgp key fingerprint to artifacts, so we can detect if correct key is used for making signature
 - possibility to check signature of maven plugins used during build

Usage
-----

You can try it by running in your project:

    mvn ${project.groupId}:pgpverify-maven-plugin:check

If you want check your dependency on each build, please add to your project:

    <project>
      ...
      <build>
        <!-- To define the plugin version in your parent POM -->
        <pluginManagement>
          <plugins>
            <plugin>
              <groupId>${project.groupId}</groupId>
              <artifactId>pgpverify-maven-plugin</artifactId>
              <version>${project.version}</version>
            </plugin>
            ...
          </plugins>
        </pluginManagement>

        <!-- To use the plugin goals in your POM or parent POM -->
        <plugins>
          <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>pgpverify-maven-plugin</artifactId>
            <executions>
                <execution>
                    <goals>
                        <goal>check</goal>
                    </goals>
                </execution>
             </executions>
          </plugin>
          ...
        </plugins>
      </build>
      ...
    </project>
